
.qing-district {
  position: relative;
  width: 340px;
  border-radius: 2px;
  border: 1px solid #DFDFDF;
  font-size: 16px;
  height: 40px;
  box-sizing: border-box;
  background: white;

  &:hover {
    border-color: #ACC6E4;
  }

  &:focus, &.active {
    border-color: #ACC6E4;
    box-shadow: 0px 0px 4px 0px rgba(#4A90E2, 0.5);
    outline: none;
  }

  a {
    text-decoration: none;
  }

  .district-field-proxy-group {
    margin: 5px;
    font-size: 0;

    &.empty {
      cursor: pointer;

      .placeholder {
        display: block;
        color: #ccc;
      }
    }

    .district-field-proxy, .placeholder {
      display: inline-block;
      padding: 3px;
      color: #333333;
      border-radius: 2px;
      margin: 0 1px;
      line-height: 1.5;
      vertical-align: middle;
      font-size: 16px;

      &.active {
        background-color: #f6f6f6;
        border-radius: 2px;
      }

      &:hover, &:focus {
        background-color: #efefef;
        text-decoration: none;
      }
      &:focus {
        outline: 0;
      }
    }

    .placeholder {
      display: none;
    }
  }

}

.qing-district-popover {
  display: none;
  position: absolute;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.15);
  padding: 15px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #DDDDDD;
  border-radius: 2px;

  &.active {
    display: block;
  }

  dl {
    margin: 0 0 10px 0;

    &:last-child {
      margin: 0;
    }

    dd {
      margin: 0;
      white-space: normal;

      a {
        display: inline-block;
        padding: 12px;
        color: #333333;
        font-size: 14px;
        border-radius: 2px;
        text-decoration: none;

        &:hover, &:focus {
          background: #f6f6f6;
        }
        &:focus {
          outline: 0;
        }
      }
    }
  }
}

